{% load static %}

<header class="section-header ">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
        <div class="container">
            <a href="{% url 'home_paciente' %}" class="navbar-brand">
                <img class="logo img-md" src="{% static 'images/logo03.png' %}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarTop4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTop4">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        {% if user.paciente %}
                            <li class="nav-item">
                                <a href="{% url 'crear_cita' %}" class="nav-link">
                                    <img src="{% static 'images/citaboton.png' %}" alt="Citas" style="width: 20px; height: 20px; margin-right: 5px;"> Citas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'chat' %}" class="nav-link">
                                    <img src="{% static 'images/chatbot.png' %}" alt="ChatBot" style="width: 20px; height: 20px; margin-right: 5px;"> ChatBot
                                </a>
                            </li>
                        {% elif user.odontologo %}
                            <li class="nav-item">
                                <a href="{% url 'ver_citas_odontologo' %}" class="nav-link">
                                    <img src="{% static 'images/citaboton.png' %}" alt="Citas" style="width: 20px; height: 20px; margin-right: 5px;"> Citas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'lista_servicios_odontologo' %}" class="nav-link">
                                    <img src="{% static 'images/service.png' %}" alt="Servicio" style="width: 20px; height: 20px; margin-right: 5px;"> Servicio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'search' %}" class="nav-link">
                                    <img src="{% static 'images/radiografia.png' %}" alt="Radiografia" style="width: 20px; height: 20px; margin-right: 5px;"> Radiografia
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'buscar_hc' %}" class="nav-link">
                                    <img src="{% static 'images/hc.png' %}" alt="HistoriaClínica" style="width: 20px; height: 20px; margin-right: 5px;"> Historia Clínica
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'ver_productos' %}" class="nav-link">
                                    <img src="{% static 'images/inventario.png' %}" alt="Inventario" style="width: 20px; height: 20px; margin-right: 5px;"> Inventario
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'upload_image' %}" class="nav-link">
                                    <img src="{% static 'images/facial.png' %}" alt="FaceCam" style="width: 20px; height: 20px; margin-right: 5px;"> FaceCam
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'images/nino.png' %}" alt="Usuario" class="img-xs">
                                {% if user.paciente %}
                                    {{ user.paciente.nombre }}
                                {% elif user.odontologo %}
                                    {{ user.odontologo.nombres }}
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.paciente %}
                                    <a class="dropdown-item" href="{% url 'actualizar_perfil' %}">Actualizar Perfil</a>
                                    <a class="dropdown-item" href="{% url 'logout_paciente' %}">Salir</a>
                                {% elif user.odontologo %}
                                    <a class="dropdown-item" href="{% url 'logout_odontologo' %}">Salir</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item">
                            {% if user.paciente %}
                                <a href="{% url 'cart' %}" class="nav-link">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            {% elif user.odontologo %}
                                <a href="{% url 'carttwo' %}" class="nav-link">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'paciente_login' %}" class="nav-link">Login Paciente</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'odontologo_login' %}" class="nav-link">Login Odontólogo</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
